<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawSeriesChart);

    function drawSeriesChart() {

      var data = google.visualization.arrayToDataTable([
        ['ID', 'len',   'width', 'population'],
        ['',    16,        7,      4],
        ['',    24,        6,     14],
        ['',    18,        4,      2],
        ['',    12,        8,      1],
        ['',    10,        2,      2],
        ['',    22,        7,      1],
        ['',    38,        7,      3],
        ['',    21,        9,      3]
      ]);

      var options = {
        title: 'Clusters and Lines(WIP) of the Dudes Lined Up Right Now',
	hAxis: {title: 'width room', gridlines: {color: 'transparent'}},
        vAxis: {title: 'length room', gridlines: {color: 'transparent'}},
	bubble: {textStyle: {fontSize: 11}},
	legend: {position: 'none'}
      };

      var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
      chart.draw(data, options);
    }
    </script>


  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="tell ethan something sexy" required>
          <input type="submit" class="ghost-button" value="send it!">
        </form>
      </fieldset>
    </div>
    <div id="series_chart_div" style="width: 900px; height: 500px;"></div>
      <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-analytics.js"></script>

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyD4nCP3edHfKRIT-Agd9u9biTy7kyKk60A",
        authDomain: "calhacks-cv.firebaseapp.com",
        databaseURL: "https://calhacks-cv.firebaseio.com",
        projectId: "calhacks-cv",
        storageBucket: "calhacks-cv.appspot.com",
        messagingSenderId: "671069133911",
        appId: "1:671069133911:web:cb9767664199d2763fd712",
        measurementId: "G-EE7WDEHMBN"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/7.2.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="/__/firebase/7.2.2/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>

  </body>
</html>
